# Ignore everything
*
# ------------------------------
# Un-ignore specific files/dirs
# ------------------------------

# Track .gitignore
!.gitignore

# Un-ignore necessary parent directories first
!.config/
!.config/hypr/
!.config/waybar/
!.config/kitty/
!.config/fish/
!.config/tmux/
!.config/nvim/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/dunst/
!.config/git/

# Now un-ignore all contents under the specified config subdirectories
!.config/hypr/**
!.config/waybar/**
!.config/kitty/**
!.config/fish/**
!.config/tmux/**
!.config/nvim/**
!.config/gtk-3.0/**
!.config/gtk-4.0/**
!.config/dunst/**
!.config/git/**

# Un-ignore Pictures/Background
!Pictures/
!Pictures/Background/
!Pictures/Background/**

# Un-ignore scripts directory
!scripts/
!scripts/**

# Misc
!.bashrc
!README.md

# (Optional) If you have other root files/dirs to track, add them here
# Example: !.bashrc
